include *.txt
include *.md
include *.cfg
include *.pkl
recursive-include ./RPScraper/*
include ./requirements.txt
exclude *.log
recursive-exclude * __pycache__
recursive-exclude * *.py[co]
recursive-exclude ./RPScraper/tmp/*
